// gloal colors
$WhitePrimary: #fff;
$DarkPrimary: #000;
$BrightBlue: hsl(220, 98%, 61%);
$DarkGrayishBlue: hsl(236, 9%, 61%);
$VeryDarkGrayishBlue: hsl(235, 19%, 35%);
$CheckLabel: #adadad;

// light theme colors
$VeryLightGray: hsl(0, 0%, 98%);
$VeryLightGrayishBlue: hsl(236, 33%, 92%);
$LightGrayishBlue: hsl(236, 9%, 61%);

// dark theme colors
$VeryDarkBlue: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$LightGrayishBlueHover: hsl(234, 39%, 85%);
